body{
    background-color: black;
    font-family: Arial, sans-serif;
    place-items: center;
    display: grid;
    height: 100vh;
    border: 2px solid white;
}

#head1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#p1{
    text-align: center;
}

#gif1{
    float: left;
}

#gif2{
    float: right;
}

#subhead1{
    text-align: center;
}

.main-header{
    color: blue;
    font-size: 36px;

}
.submain-header{
    color: lightblue;
    font-size: 24px;
}
.main-paragraph{
    color: white;
    font-size: 16px;
    text-align: center;
}
.main-link{
    color: green;
    font-size: 18px;
    text-decoration: underline;
}
.sub-paragraph{
    color: lightgray;
    font-size: 14px;
}
.Paraboutpage{
    color: white;
    font-size: 20px;
}
.headergif{
    margin: 10px;
    height: 150px;
}
a:hover{
    color: red;
}

@media screen and (max-width: 600px) {
    .main-header{
        font-size: 20px;
    }
    .submain-header{
        font-size: 16px;
    }
    .main-paragraph{
        font-size: 12px;
    }
    .main-link{
        font-size: 12px;
    }
    .sub-paragraph{
        font-size: 8px;
    }
    body{
        border: none;
    }
    #video{
        width: 100%;
    }
}

@media print {
    body{
        background-color: white;
        color: black;
        border: none;
    }
    .main-header, .submain-header, .main-paragraph, .sub-paragraph{
        color: black;
    }
    .main-link{
        color: blue;
        text-decoration: underline;
    }
    #video, .headergif{
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    body{
        display: flex;
        place-items: center;
        flex-flow: column;
        }
}